html{
	scroll-behavior: smooth;
}
*{margin: 0; padding: 0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url("img/Header-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
	position: relative;
}

a{ text-decoration:none }
a:hover{text-decoration:none;}
li{list-style:none}

p{
	font-size: 0.9rem;
    line-height:1.6;
	font-height: 400;
	color: #606060;
}
.header:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0.4;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%)
}
.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0.4;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%)
}
.nav-item a{
	color:#fff!important;
	font-weight:bold;
}

.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-buttons a{
	border:1px solid #fff;
	border-radius: 100px;
	margin:0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}
.header-buttons a:hover{
	color: #50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0,3);
}
.center-div p{
	font-size:1.3rem;
	padding: 10px 0 20px 0;
	color: white;
}

.skills-section{
	background: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.names h4{
	color: #2e2e2e;
	font-weight: bold;
}
.progress{
	height: 0.9rem!important;
	margin-bottom: 25px!important;
}
.cvdiv{
	width: 100%;
	height: auto;
	margin: 35px 0;
}
.resumediv{
	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 0.3s;
	text-align: center;
}
.resumediv:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
	text-decoration: none;
}
.contactus{
	width: 100%;
	height: 100vh;
	padding: 80px 0;
	position: relative;
}
.contactus:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
    z-index: -1;
}
.form-button button{
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background: transparent;
}
.form-button button:hover{
	color: #50d1c0;
}
form:hover .form-button button{
	background: #fff;
	color: color: #50d1c0;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
	font-size: 0.85rem;
}

.page-footer{
	font-size: small;
	background: #00abff;
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	position: relative;
}
.page-footer p{
	color: #fff;
}
.page-footer a{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
}
.page-footer h5{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2rem!important;
	text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
.fa-instagram{
  border-radius: 3px;
  margin-right: 0.5em;
}
.fa-snapchat{
  border-radius: 3px;
  margin-right: 0.5em;
}
.fa-github{
  border-radius: 3px;
  margin-right: 0.5em;
}
.fa-linkedin{
  border-radius: 3px;
  margin-right: 1em;
}
#myBtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border: none;
	color: #fff;
	background: #00abff;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background: #606060;
}
@media (max-width: 768px) {
  .nav-item{
	  text-align: center!important;
  }
  .contactus{
	  height: auto;
	  margin-top: 50px;
	  padding: 0 50px;
  }
}
.card-header:hover{
	width: 100%;
	padding : 1rem;
	animation-name: rotate;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	color: #000;
	background-color: #fff;
	z-index: 999;
	border: 1px solid black;
	position:relative;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
	text-decoration: none;
}

.services{
	width: 100%;
	height: 100vh;
	padding: 100px 0;
	background-image: linear-gradient(165deg, #16c9f6 55%, #fff 0%);
	z-index: -1;
}

.box{
	text-align:center;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow:0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
	transition: 0.3s ease;
	height: 40vh;
}
.box:hover{
	background: #00abff;
}
.box:hover p{
	color: white;
}
.carousel-indicators{
	position: absolute;
	right: 0;
	bottom: -60px!important;
}
.carousel-indicators li{
	background-color: #16c9f6!important;
}
.carousel-control-prev, .carousel-control-prev{
	color:#CFFAFF;
}
@media only screen and (max-width: 600px){
	.services{
	  height: auto;
	  margin-top: 50px;
  }
}


